<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head th:replace="fragments :: head"></head>

    <body>

        <nav th:replace="fragments :: navigation"></nav>

        <div class="text-center">
            <h1> Online Help </h1>
            <h2> User Registration </h2>
            <p> To register to the site, contact the system administrator who will 
                create the account and your username and password will be sent to your email. </p><br>

            <h2> User Login </h2>
            <p> To log-in, enter the username and password and click on the “Sign in” button on the log in page.</p>

            <h2> Creating communities </h2>
            <ol> 
                <li> Log in as System Administrator </li> 
                <li> On the system administrator home page, click on the create community button. </li>. 
                <li> On clicking the create community button, a community creation form will appear. </li> 
                <li> Fill the form and click on the create button. </li>
                <li> After the community has been created, they will be displayed in the communities page as well as other communities previously created. </li>
            </ol>
            
            <h2> Creating groups </h2>
            <ol> 
                <li> Log in as System Administrator or the System users. </li> 
                <li> On the system administrator homepage or the system user’s homepage, click on the create group button. </li> 
                <li> On clicking the create group button, a form will appear </li>
                <li> Fill the form and click on the create button </li>
                <li> After the group has been created, they will be displayed in the groups page.</li> 
            </ol>
        </div>

        <footer th:replace="fragments :: footer"></footer>

        <script th:src="@{/javascript/jquery.min.js}"></script>
        <script th:src="@{/javascript/bootstrap.min.js}"></script>

    </body>


</html>
