<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head th:replace="fragments :: head"></head>

    <body>

        <nav th:replace="fragments :: navigation"></nav>

        <div class="container">
            <div class="login-card"><img th:src="@{/images/avatar_2x.png}" class="profile-img-card">
                <p class="profile-name-card"> Reset Password </p>

                <div class="alert alert-danger" th:if="${errorMessage}">
                    <p class="text text-center" th:text="${errorMessage}">   </p>
                </div>

                <form class="form-signin" th:action="@{/restPassword}" method="POST"><span class="reauth-email"> </span>
                    <input class="form-control" type="text" required="" placeholder="Username" autofocus="" name="username">
                    <input class="form-control" type="password" required="" placeholder="Password" id="inputPassword" name="password">
                    <input class="form-control" type="password" required="" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword">

                    <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit"> Reset </button>
                </form><a href="registration.jsp" class="forgot-password"> Don't have an Account? </a></div>
        </div>
    </div>

    <footer th:replace="fragments :: footer"></footer>

    <script th:src="@{/javascript/jquery.min.js}"></script>
    <script th:src="@{/javascript/bootstrap.min.js}"></script>

</body>


</html>
